{% extends 'base.html.twig' %}

        {% block page_header %}
            <div class="page-head">
                <h2>Admin dashboard</h2>
                <ol class="breadcrumb">
                    <li><a href="{{ path('dashboard_admin') }}">Home</a></li>
                    <li class="active">Dashboard</li>
                </ol>
            </div>
        {% endblock page_header %}