{% if is_granted('ROLE_ARTIST') %}
<li {% if action == 'artist_profile' or action == 'artist_edit' %} class="active" {% endif %}>
    <a href="#"><i class="fa fa-microphone"></i><span>Artists</span></a>
    <ul class="sub-menu">
        <li {% if action == 'artist_add' %} class="active" {% endif %}><a href="{{ path('artist_new') }}"><i class="fa fa-plus-circle"></i><span>Add new artist</span></a></li>
        <li {% if action == 'artist_list' %} class="active" {% endif %}><a href="{{ path('artist_list') }}"><i class="fa fa-list"></i><span>List artists</span></a></li>
    </ul>
</li>
{% endif %}