<li>
    <a href="#"><i class="fa fa-volume-up"></i><span>Radio stations</span></a>
    <ul class="sub-menu">
        <li><a href="#">Add operator</a></li>
        <li><a href="#">View operators</a></li>
    </ul>
</li>