<li>
    <a href="#"><i class="fa fa-building-o"></i><span>Record labels</span></a>
    <ul class="sub-menu">
        <li><a href="add-inventory.html">Assign label</a></li>
        <li><a href="inventory.html">View labels</a></li>
        <li><a href="#">Link artist</a></li>
    </ul>
</li>