<li>
    <a href="#"><i class="fa fa-bar-chart-o nav-icon"></i><span>Reports</span></a>
    <ul class="sub-menu">
        <li><a href="#">Available reports</a></li>
        <li><a href="#">Redeemed vouchers</a></li>
        <li><a href="#">3rd party vouchers</a></li>
        <li><a href="#">Vouchers sent</a></li>
        <li><a href="#">Voucher lookup</a></li>
    </ul>
</li>