<li>
    <a href="#" {% if action == 'song_profile' or action == 'song_edit' %} class="active" {% endif %}><i class="fa fa-music"></i><span>Songs</span></a>
    <ul class="sub-menu">
        <li {% if action == 'song_add' %}class="active" {% endif %}><a href="{{ path('song_new') }}"><i class="fa fa-plus-circle"></i><span>Add new song</span></a></li>
        <li {% if action == 'song_list_active' %} class="active" {% endif %}><a href="{{ path('song_list_active') }}"><i class="fa fa-check-circle"></i><span>List active songs</span></a></li>
        {#<li><a href="clients.html"><i class="fa fa-check-square"></i><span>List playlisted songs</span></a></li>#}
        {#<li><a href="clients.html"><i class="fa fa-spinner"></i><span>List pending songs</span></a></li>#}
        {#<li><a href="clients.html"><i class="fa fa-ban"></i><span>List rejected songs</span></a></li>#}
    </ul>
</li>