<li>
    <a href="#"><i class="fa fa-user"></i><span>Users</span></a>
    <ul class="sub-menu">
        <li><a href="#">Promo SMS list</a></li>
        <li><a href="#">Add promo SMS</a></li>
    </ul>
</li>