{% extends ':radioStation:layout.html.twig' %}

{% block title %}{{ page_header }}{% endblock title %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {% include '::alert.html.twig'%}
            <div class="block-flat">
                <div class="header">
                    <h4><i>All fields are required.</i></h4>
                </div>
                <div class="content">
                    {% include ":radioStation/forms:create.html.twig" %}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/jquery.parsley/dist/parsley.min.js') }}"></script>
{% endblock javascripts %}